<h1 id="title"> Secret Santa Survey </h1>

<p class="new-survey__description">
Let me guess: You're getting older and don't know exactly what you want for Christmas?
<br>Nailed it.
<br>All you know is that socks aren't going to cut it!
<br>Do your family and friends a favor and take the guess work out of it.
</p>
<ul>
<li>{{#link-to 'santas.new'}}Get Started{{/link-to}}</li>
<li>{{#link-to 'santas.list'}}Already Filled One Out?{{/link-to}}</li>
</ul>
