{{yield}}

<p class="step-one__title">Step 1:</p>
<div class ="name-wrapper">
<h3 class="step-one__title step-one__title-sub"> What's Your Name?</h3>

{{mdl-textfield label="First Name" id="first-name" value=firstName}}
{{mdl-textfield label="Last Name"  id="last-name"  value=lastName}}
{{mdl-button isRaised=true text='Continue'}}
</div>
