{{yield}}

<h2 class="step-one__title">Step 1: Who Are You?</h2>
{{input type="text" name="firstName" id="first-name" placeholder="First Name" value=firstName}}
{{input type="text" name="lastName" id="last-name" placeholder="Last Name" value=lastName}}
<button>Step Two</button>
