
<h4 class="step-two_title">Step 2:</h4>
<h3 class="new-survey_sub-title">Point Your Family In The Right Direction</h3>
<p class="new-survey__description">
  Answer these quesitons to the best of your ability. If not, you'll probably get some socks. That's cool if you like watching OTHER people open cool presents. At the end, hit submit and that's it! If you think you may have goofed on a question, you can always go back and edit the answers later.
</p>
<hr>
<h4 class="new-survey__title">New Santa Survey for{{user.firstName}}</h4>

{{survey-form onsubmit='createNewSurvey'}}
