{{#mdl-nav title='Secret Santa' fixedHeader=true}}
  {{mdl-nav-item name='Get Started'   route='santas.new'}}
  {{mdl-nav-item name='Completed Surveys'      route='santas.list'}}
  {{mdl-nav-item name='Home'      route='santas.index'}}
  <div class="mdl-grid">
    {{outlet}}

  </div>
  {{/mdl-nav}}
